.alignNav {
  vertical-align: text-top;
  width: 300px;
  max-width: 300px;
}

.alignMain {
  padding-top: 200px;
  vertical-align: text-top;
  flex: 2;
  padding-right: 20%;
}

.align-main-pottery {
  padding-top: 200px;
  vertical-align: text-top;
  flex: 2;
  padding-right: 10%;
}

@media only screen and (max-width: 640px) {
  .nav-width {
    width: 0;
  }
  .alignMain {
    padding-top: 75px;
    padding-left: 10%;
    vertical-align: text-top;
    flex: 2;
    padding-right: 10%;
  }

  .align-main-pottery {
    padding-left: 10%;
    padding-top: 75px;
    vertical-align: text-top;
    flex: 2;
    padding-right: 10%;
  }
}

.grow {
  flex-grow: 1;
}

.empty {
  flex: 1;
}

.container {
  display: flex;
}
