.arrow-left {
  flex: 0;
  padding-right: 40px;
}

.arrow-right {
  flex: 0;
  padding-left: 40px;
}

.center {
  flex: 3;
  position: relative;
}

.stay {
  max-width: 500px;
}

.photo {
  max-width: 100%;
}

.photo-slider-container {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.art-title {
  font-style: italic;
  display: inline-block;
}

.art-year {
  display: inline-block;
}

.art-medium {
  color: darkgray;
}

.arrow-button {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding: 10px;
  transition: opacity 200ms ease;
}

.arrow-button-gone {
  opacity: 0;
  transition: opacity 500ms ease;
}

/* animation */

.content-enter {
  opacity: 0.01;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content-enter.content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.content-leave {
  opacity: 1;
}

.content-leave.content-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.photo-grid {
  max-width: 1000px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.blackbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9); /*dim the background*/
}

.blackbox-photo {
  padding: 10%;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-photo {
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 5px;
  min-width: 0;
}

@media only screen and (min-width: 640px) {
  .grid-photo {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .grid-photo {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width: 1280px) {
  .grid-photo {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width: 1600px) {
  .grid-photo {
    flex-basis: 33.33%;
  }
}
